header{
  height: 100vh;
  padding-top: 7rem;
  overflow:hidden;
}
.header_container{
  text-align: center;
  height: 100%;
  position: relative;
}
/* ============CTA======== */
.cta{
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ============HEADER SOCIALS======== */
.header__socials{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
.header__socials::after{
  content:'';
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}
/* ===========ME======== */
.me{
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border: .3rem solid;
  border-color: var(--color-primary);
  border-radius: .3rem;
  overflow: hidden;
  padding: .5rem;
  box-shadow: inset 5px 10px 30px var(--color-primary);
}
.me img{
  border-radius: .5rem;
  box-shadow: 5px 5px 10px rgba(178, 34, 34, 0.306);
}
/* ===========scroll dowm ======== */
.scroll__down{
  position: absolute;
  right: -2.5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: .9rem;
}

/* ===================MEDIA QUERIES (MEDIUM DEVICES)============= */
@media screen and (max-width:1024px) {
  header{
    height: 68vh;
  }
}
/* ===================MEDIA QUERIES (SMALL DEVICES)============= */
@media screen and (max-width:600px) {
  header{
    height: 100vh;
  }
  .header__socials,.scroll__down{
    display:none;
  }

}
